/* Inkling Fonts
 * 2014-09-23
 * Font-face declarations required for Inkling CSS.
 */

/**
 * NOTE: The fonts.css file should not be moved out of the fonts folder.
 * Referencing relative paths for font files not located in the same folder
 * currenlty breaks in Habitat.
 */

@font-face {
  /* Font family name as it appears in the CSS */
  font-family: 'Source Sans Pro';
  /* Specified weight, style and stretch */
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  /* Source locations, in order of loading attempts:
      1. Locally installed font using postscript font name
      2. Locally installed font using font family name
      3. WOFF file in this directory - IE9+, FF3.6+, GC5+1, S5.1+
      4. TTF file in this directory - Android 2.3
  */
  src: local("SourceSansPro-Light"), local("Source Sans Pro"), url("sourcesanspro-light.otf.woff") format("woff"), url("sourcesanspro-light.ttf") format("truetype");
}

 /* PROXIMA NOVA */
 
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url("proximanova_light.otf") format("opentype");
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src: url("proximanova_lightit.otf") format("opentype");
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("proximanova.otf") format("opentype");
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url("proximanova_it.otf") format("opentype");
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url("proximanova_semibold.otf") format("opentype");
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  src: url("proximanova_semiboldit.otf") format("opentype");
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("proximanova_bold.otf") format("opentype");
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: url("proximanova_boldit.otf") format("opentype");
}



@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src: local("SourceSansPro-LightIt"), local("Source Sans Pro"), url("sourcesanspro-lightit.otf.woff") format("woff"), url("sourcesanspro-lightit.ttf") format("truetype");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: local("SourceSansPro-Regular"), local("Source Sans Pro"), url("sourcesanspro-regular.otf.woff") format("woff"), url("sourcesanspro-regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: local("SourceSansPro-It"), local("Source Sans Pro"), url("sourcesanspro-it.otf.woff") format("woff"), url("sourcesanspro-it.ttf") format("truetype");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: local("SourceSansPro-Semibold"), local("Source Sans Pro"), url("sourcesanspro-semibold.otf.woff") format("woff"), url("sourcesanspro-semibold.ttf") format("truetype");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: local("SourceSansPro-SemiboldIt"), local("Source Sans Pro"), url("sourcesanspro-semiboldit.otf.woff") format("woff"), url("sourcesanspro-semiboldit.ttf") format("truetype");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: local("SourceSansPro-Bold"), local("Source Sans Pro"), url("sourcesanspro-bold.otf.woff") format("woff"), url("sourcesanspro-bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: local("SourceSansPro-BoldIt"), local("Source Sans Pro"), url("sourcesanspro-boldit.otf.woff") format("woff"), url("sourcesanspro-boldit.ttf") format("truetype");
}
/* Inkling Serif - 4 styles */
@font-face {
  font-family: 'Inkling Serif Web';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: local("InklingSerifApp-Regular"), local("Inkling Serif App"), url("inklingserifweb-regular.woff") format("woff"), url("inklingserifapp-regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Inkling Serif Web';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: local("InklingSerifApp-Italic"), local("Inkling Serif App"), url("inklingserifweb-italic.woff") format("woff"), url("inklingserifapp-italic.ttf") format("truetype");
}
@font-face {
  font-family: 'Inkling Serif Web';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: local("InklingSerifApp-Bold"), local("Inkling Serif App"), url("inklingserifweb-bold.woff") format("woff"), url("inklingserifapp-bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Inkling Serif Web';
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: local("InklingSerifApp-BoldItalic"), local("Inkling Serif App"), url("inklingserifweb-bolditalic.woff") format("woff"), url("inklingserifapp-bolditalic.ttf") format("truetype");
}
/*------------------------------------------------------------------
 * FALL-FORWARDS
 * The following @font-face declarations map logcay font name to the new font files.
 *----------------------------------------------------------------*/
/* Meta Serif Office Pro - 4 styles
 * 9-10-14 - These styles are mapped forward to Inkling Serif.
 */
@font-face {
  font-family: 'Meta Serif Office Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: local("InklingSerifApp-Regular"), local("Inkling Serif App"), url("inklingserifweb-regular.woff") format("woff"), url("inklingserifapp-regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Meta Serif Office Pro';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: local("InklingSerifApp-Italic"), local("Inkling Serif App"), url("inklingserifweb-italic.woff") format("woff"), url("inklingserifapp-italic.ttf") format("truetype");
}
@font-face {
  font-family: 'Meta Serif Office Pro';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: local("InklingSerifApp-Bold"), local("Inkling Serif App"), url("inklingserifweb-bold.woff") format("woff"), url("inklingserifapp-bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Meta Serif Office Pro';
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: local("InklingSerifApp-BoldItalic"), local("Inkling Serif App"), url("inklingserifweb-bolditalic.woff") format("woff"), url("inklingserifapp-bolditalic.ttf") format("truetype");
}
/* Tisa Mobile Pro - 4 styles
 * 9-10-14 - These styles are mapped forward to Inkling Serif.
 */
@font-face {
  font-family: 'Tisa Mobile Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: local("InklingSerifApp-Regular"), local("Inkling Serif App"), url("inklingserifweb-regular.woff") format("woff"), url("inklingserifapp-regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Tisa Mobile Pro';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: local("InklingSerifApp-Italic"), local("Inkling Serif App"), url("inklingserifweb-italic.woff") format("woff"), url("inklingserifapp-italic.ttf") format("truetype");
}
@font-face {
  font-family: 'Tisa Mobile Pro';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: local("InklingSerifApp-Bold"), local("Inkling Serif App"), url("inklingserifweb-bold.woff") format("woff"), url("inklingserifapp-bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Tisa Mobile Pro';
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: local("InklingSerifApp-BoldItalic"), local("Inkling Serif App"), url("inklingserifweb-bolditalic.woff") format("woff"), url("inklingserifapp-bolditalic.ttf") format("truetype");
}
/* Chronicle - 4 styles
 * 9-10-14 - These styles are mapped forward to Inkling Serif.
 */
@font-face {
  font-family: 'Chronicle';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: local("InklingSerifApp-Regular"), local("Inkling Serif App"), url("inklingserifweb-regular.woff") format("woff"), url("inklingserifapp-regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Chronicle';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: local("InklingSerifApp-Italic"), local("Inkling Serif App"), url("inklingserifweb-italic.woff") format("woff"), url("inklingserifapp-italic.ttf") format("truetype");
}
@font-face {
  font-family: 'Chronicle';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: local("InklingSerifApp-Bold"), local("Inkling Serif App"), url("inklingserifweb-bold.woff") format("woff"), url("inklingserifapp-bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Chronicle';
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: local("InklingSerifApp-BoldItalic"), local("Inkling Serif App"), url("inklingserifweb-bolditalic.woff") format("woff"), url("inklingserifapp-bolditalic.ttf") format("truetype");
}
/* Whitney - 8 styles
 * 9-10-14 - These styles are mapped forward to Source Sans Pro.
 */
@font-face {
  font-family: 'Whitney';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: local("SourceSansPro-Regular"), local("Source Sans Pro"), url("sourcesanspro-regular.otf.woff") format("woff"), url("sourcesanspro-regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Whitney';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: local("SourceSansPro-It"), local("Source Sans Pro"), url("sourcesanspro-it.otf.woff") format("woff"), url("sourcesanspro-it.ttf") format("truetype");
}
@font-face {
  font-family: 'Whitney';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: local("SourceSansPro-Semibold"), local("Source Sans Pro"), url("sourcesanspro-semibold.otf.woff") format("woff"), url("sourcesanspro-semibold.ttf") format("truetype");
}
@font-face {
  font-family: 'Whitney';
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  src: local("SourceSansPro-SemiboldIt"), local("Source Sans Pro"), url("sourcesanspro-semiboldit.otf.woff") format("woff"), url("sourcesanspro-semiboldit.ttf") format("truetype");
}
@font-face {
  font-family: 'Whitney';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: local("SourceSansPro-Semibold"), local("Source Sans Pro"), url("sourcesanspro-semibold.otf.woff") format("woff"), url("sourcesanspro-semibold.ttf") format("truetype");
}
@font-face {
  font-family: 'Whitney';
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: local("SourceSansPro-SemiboldIt"), local("Source Sans Pro"), url("sourcesanspro-semiboldit.otf.woff") format("woff"), url("sourcesanspro-semiboldit.ttf") format("truetype");
}
@font-face {
  font-family: 'Whitney';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: local("SourceSansPro-Bold"), local("Source Sans Pro"), url("sourcesanspro-bold.otf.woff") format("woff"), url("sourcesanspro-bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Whitney';
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: local("SourceSansPro-BoldIt"), local("Source Sans Pro"), url("sourcesanspro-boldit.otf.woff") format("woff"), url("sourcesanspro-boldit.ttf") format("truetype");
}
/* Older Whitney Medium and Semibold Definitions */
/* WhitneyMed - 4 styles
 * 9-10-14 - These styles are mapped forward to Inkling Serif.
 */
@font-face {
  font-family: 'WhitneyMed';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: local("SourceSansPro-Semibold"), local("Source Sans Pro"), url("sourcesanspro-semibold.otf.woff") format("woff"), url("sourcesanspro-semibold.ttf") format("truetype");
}
@font-face {
  font-family: 'WhitneyMed';
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  src: local("SourceSansPro-SemiboldIt"), local("Source Sans Pro"), url("sourcesanspro-semiboldit.otf.woff") format("woff"), url("sourcesanspro-semiboldit.ttf") format("truetype");
}
@font-face {
  font-family: 'WhitneySemi';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: local("SourceSansPro-Semibold"), local("Source Sans Pro"), url("sourcesanspro-semibold.otf.woff") format("woff"), url("sourcesanspro-semibold.ttf") format("truetype");
}
@font-face {
  font-family: 'WhitneySemi';
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: local("SourceSansPro-SemiboldIt"), local("Source Sans Pro"), url("sourcesanspro-semiboldit.otf.woff") format("woff"), url("sourcesanspro-semiboldit.ttf") format("truetype");
}
